@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Space Grotesk";
    src: url("/fonts/space-grotesk/SpaceGrotesk-SemiBold-BF65712b4fe55fc.ttf");
    font-weight: 600;
    font-style: normal;
  }
}
